body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4a90e2;
    color: #f5f5f5;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

main {
    width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    padding: 10px
}

footer p {
    font-size: xx-small;
    text-align: center;
}

.add-book-form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #4a90e2;
    max-width: 70%;
    margin: auto;
}

button {
    background-color:#4a90e2;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border-color: #4a90e2;
}

button:hover {
    cursor: pointer;
    background-color:white;
    color: #4a90e2;
}

.form-group {
 display: flex;
 align-items: center;
 margin-bottom: 15px;
}

.form-group label{
    flex: 0 0 20%;
    font-weight: bold;
    text-align: left;
}

.form-group input,
.form-group textarea,
.form-group select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    cursor: pointer;
}