/* 
color palete
#DDB707
#EBE7E3
#3B3634
#9C3F1D
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/books-1920.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: #333;
}

header {
    background-color: #4a90e2;
    color: #f5f5f5;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4a90e2;
    padding: 10px;
}

footer p {
    font-size: xx-small;
    text-align: center;
    color: white;
}

.add-book-form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #4a90e2;
    max-width: 40%;
    margin: auto;
}

#booklist {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #4a90e2;
}

#booklist table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

#booklist th:nth-child(4) {
    width: 15%;
}

#booklist td:nth-child(5) {
    width: 5%;
}

#booklist th,
#booklist td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    background-color: #ecf1f7;
}

button {
    background-color: #4a90e2;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border-color: #4a90e2;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #4a90e2;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 0 0 20%;
    font-weight: bold;
    text-align: left;
}

.form-group input,
.form-group textarea,
.form-group select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    cursor: pointer;
}
